body{
    background-color:goldenrod;
    text-align: center;
}
.input{
    border-radius: 30px;
    background-color: white;
    width:40%
}
.result{
    color: white;
text-align: left;
}
.explanation{
    color: white;
    border-radius: 20px;
    background-color: green;
    width:40%;
    margin-left: 20px;
}
